@import url('https://fonts.googleapis.com/css2?family=Piazzolla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ceviche+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway+Dots&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  min-height: 100%;
}

body {
  display: flex;
  padding: 100px;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 20px;
  background-color: #282a56;
}

.container {
  display: flex;
  justify-content: center;
  gap: 90px;
  flex-wrap: wrap;
}

.word {
  max-width: max-content;
  display: flex;
  gap: 20px;
}

.word > span {
  position: relative;
  padding: 20px 30px;
  width: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 90px;
  max-height: 90px;
  border: 6px solid grey;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.8s ease-in-out;
}

/* Sample CSS for the WHY word */

.whyWLetter {
  font-size: 72px;
  font-weight: bold;
  color: aqua;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: 'Piazolla', sans-serif;
}

.whyHLetter {
  font-size: 30px;
  font-weight: bold;
  color: darkgoldenrod;
  text-decoration: overline;
  text-transform: lowercase;
  font-family: 'Ceviche One', sans-serif;
}

.whyYLetter {
  font-size: 60px;
  font-weight: normal;
  color: coral;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Raleway Dots', sans-serif;
}

/* DID word */

.didDLetter, .didILetter, .didDTwoLetter  {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-weight: 900;
  color: #728cb5;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 55px;

}




/* THE word */

.theTLetter, .theHLetter, .theELetter {
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-weight: 700;
  color: hsl(319, 82%, 45%);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 55px;


}





/* FRONT-END word */

.frontendFLetter, .frontendRLetter, .frontendOLetter, .frontendNLetter, .frontendTLetter, .frontendELetter, .frontendNTwoLetter, .frontendDLetter {
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-weight: 900;
  color: rgb(182, 210, 19);
  text-decoration: underline;
  text-transform: lowercase;
  font-size: 58px;

}









/* DEVELOPER word */

.developerDLetter, .developerELetter, .developerVLetter, .developerETwoLetter, .developerLLetter, .developerOLetter, .developerPLetter, .developerEThreeLetter, .developerRLetter {
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-weight: 900;
  color: #d24313;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 64px;
}






/* TAKE word */

.takeTLetter {
  font-family: Winky Rough, Arial, Helvetica, sans-serif;
  font-weight: 900;
  color: #13d226;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 64px;
}
.takeALetter {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-weight: 900;
  color: #a7d9ac;
  text-decoration: overline;
  text-transform: lowercase;
  font-size: 61px;
}
.takeKLetter, .takeELetter {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-weight: 900;
  color: #daa248;
  text-decoration: underline;
  text-transform: inherit;
  font-size: 59px;
}


/* UP word */

.upULetter, .upPLetter {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-weight: 900;
  color: rgb(234, 188, 176);
  text-decoration: none;
  text-transform: none;
  font-size: 59px;
}


/* GARDENING word */

.gardeningGLetter, .gardeningALetter, .gardeningRLetter, .gardeningDLetter, .gardeningELetter, .gardeningNLetter {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: rgb(4, 243, 195);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 63px;
}
.gardeningILetter {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: rgb(4, 243, 195);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 63px;
}
.gardeningNTwoLetter, .gardeningGTwoLetter {
  font-family: Bonheur Royale, 'Times New Roman', Times, serif;
  font-weight: bold;
  color: rgb(232, 229, 241);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 63px;
}


/* BECAUSE word */

.becauseBLetter, .becauseELetter, .becauseCLetter {
  font-family: 'Times New Roman', Times, serif;
  font-weight: 700;
  color: rgb(27, 220, 27);
  text-decoration: overline;
  text-transform: uppercase;
  font-size: 65px;
}


.becauseCLetter, .becauseALetter, .becauseULetter {
  font-family: Roboto, 'Times New Roman', Times, serif;
  font-weight: 900;
  color: #ecc03b;
  text-decoration: overline;
  text-transform: uppercase;
  font-size: 60px;
}
.becauseSLetter, .becauseETwoLetter {
  font-family: 'Times New Roman', Times, serif;
  font-weight: 400;
  color: #f32e0b;
  text-decoration: overline;
  text-transform: uppercase;
  font-size: 60px;
}


/* THEY word */

.theyTLetter, .theyHLetter, .theyELetter, .theyYLetter {
  font-family: Winky Rough, 'Times New Roman', Times, serif;
  font-weight: 400;
  color: #20b6b9;
  text-decoration: overline;
  text-transform: uppercase;
  font-size: 60px;
}

/* WANTED word */

.wantedWLetter {
  font-family: 'Times New Roman', Times, serif;
  font-weight: 900;
  color: #c7c0e9;
  text-decoration: overline;
  text-transform: uppercase;
  font-size: 63px;
}
.wantedALetter, .wantedNLetter, .wantedTLetter, .wantedELetter, .wantedDLetter{
  font-family: 'Times New Roman', Times, serif;
  font-weight: bolder;
  color: rgb(13, 212, 175);
  text-decoration: overline;
  text-transform: uppercase;
  font-size: 63px;
}
/* TO word */

.toTLetter {
  font-family: Inter, 'Times New Roman', Times, serif;
  font-weight: bolder;
  color: #d5634f;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 62x;
}
.toOLetter {
  font-family: Inter, 'Times New Roman', Times, serif;
  font-weight: bolder;
  color: #79cc55;
  text-decoration: underline;
  text-transform: uppercase;
  font-size: 58x;
}

/* IMPROVE word */

.improveILetter, .improveMLetter, 
.improvePLetter, .improveRLetter{
  font-family: sans-serif;
  font-weight: bolder;
  color: #ba27a6;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 61px;
}
.improveOLetter, .improveVLetter, .improveELetter  {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: 900;
  color: #dc2626;
  text-decoration: underline;
  text-transform: uppercase;
  font-size: 69px;
}

/* THEIR word */

.theirTLetter, .theirHLetter, .theirELetter, .theirILetter, 
.theirRLetter {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: 900;
  color: #935d5d;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 69px;
}

/* ROOT word */

.rootRLetter, .rootOLetter, .rootOTwoLetter, .rootTLetter {
  font-family: monospace;
  font-weight: 700;
  color: #aaee09;
  text-decoration: line-through;
  text-transform: lowercase;
  font-size: 64px;
}




/* SKILLS word */

.skillsSLetter, .skillsKLetter, .skillsILetter, .skillsLLetter, .skillsLTwoLetter, .skillsSTwoLetter {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
  font-weight: 400;
  color: #bc57f7; 
  text-decoration: underline;
  text-transform: lowercase;
  font-size: 68px;
}


/* SYMBOLS */

.hyphen, .exclamation-mark, .question-mark {
  font-family: Winky Rough, sans-serif;
  font-weight: 900;
  color: #f60808; 
  text-decoration: none;
  text-transform: uppercase;
  font-size: 72px;
}

