@import url('https://fonts.googleapis.com/css2?family=Piazzolla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ceviche+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway+Dots&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  min-height: 100%;
}

body {
  display: flex;
  padding: 100px;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 20px;
  background-color: #282a56;
}

.container {
  display: flex;
  justify-content: center;
  gap: 90px;
  flex-wrap: wrap;
}

.word {
  max-width: max-content;
  display: flex;
  gap: 20px;
  
}

.word > span {
  position: relative;
  padding: 20px 30px;
  width: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 90px;
  max-height: 90px;
  border: 6px solid grey;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.8s ease-in-out;
  
}

/* Sample CSS for the WHY word */

.whyWLetter {
  font-size: 72px;
  font-weight: bold;
  color: aqua;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: 'Piazolla', sans-serif;
}

.whyHLetter {
  font-size: 30px;
  font-weight: bold;
  color: darkgoldenrod;
  text-decoration: overline;
  text-transform: lowercase;
  font-family: 'Ceviche One', sans-serif;
}

.whyYLetter {
  font-size: 60px;
  font-weight: normal;
  color: coral;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Raleway Dots', sans-serif;
}

/* DID word */

.didDLetter {
  font-size: 42px;
  font-weight: 700;
  color: #f249ba;
  text-decoration: wavy;
  text-transform: lowercase;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.didILetter {
  font-size: 35px;
  font-weight: 400;
  color: #60f78e;
  text-decoration: solid;
  text-transform: uppercase;
  font-family: monospace;
}

.didDTwoLetter {
  font-size: 50px;
  font-weight: normal;
  color: #4c615e;
  text-decoration: none;
  text-transform: none;
  font-family: 'Times New Roman', Times, serif;
}

/* THE word */

.theTLetter {
  font-size: 38px;
  font-weight: bold;
  color: #522b51;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.theHLetter {
  font-size: 30px;
  font-weight: 700;
  color: #c2a5c1;
  text-decoration: line-through;
  text-transform: lowercase;
  font-family: Arial, Helvetica, sans-serif;
}

.theELetter {
  font-size: 28px;
  font-weight: normal;
  color: #8c738c;
  text-decoration: overline;
  text-transform: none;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* FRONT-END word */

.frontendFLetter {
  font-family: 60px;
  font-weight: 400;
  color: #bdb1bd;
  text-decoration: underline;
  text-transform: capitalize;
  font-family: cursive;

}

.frontendRLetter {
  font-size: 51px;
  font-weight: 700;
  color: #c4143a;
  text-decoration: overline;
  text-transform: lowercase;
  font-family: fantasy;
}

.frontendOLetter {
  font-size: 42px; 
  font-weight: bold;
  color: #b39198;
  text-decoration: line-through;
  text-transform: none;
  font-family: monospace;
}

.frontendNLetter {
}

.frontendTLetter {
}

.frontendELetter {
}

.frontendNTwoLetter {
}

.frontendDLetter {
}

/* DEVELOPER word */

.developerDLetter {
}
.developerELetter {
}
.developerVLetter {
}
.developerETwoLetter {
}
.developerLLetter {
}
.developerOLetter {
}
.developerPLetter {
}
.developerEThreeLetter {
}
.developerRLetter {
}

/* TAKE word */

.takeTLetter {
}
.takeALetter {
}
.takeKLetter {
}
.takeELetter {
}

/* UP word */

.upULetter {
}
.upPLetter {
}

/* GARDENING word */

.gardeningGLetter {
}
.gardeningALetter {
}
.gardeningRLetter {
}
.gardeningDLetter {
}
.gardeningELetter {
}
.gardeningNLetter {
}
.gardeningILetter {
}
.gardeningNTwoLetter {
}
.gardeningGTwoLetter {
}

/* BECAUSE word */

.becauseBLetter {
}
.becauseELetter {
}
.becauseCLetter {
}
.becauseALetter {
}
.becauseULetter {
}
.becauseSLetter {
}
.becauseETwoLetter {
}

/* THEY word */

.theyTLetter {
}
.theyHLetter {
}
.theyELetter {
}
.theyYLetter {
}

/* WANTED word */

.wantedWLetter {
}
.wantedALetter {
}
.wantedNLetter {
}
.wantedTLetter {
}
.wantedELetter {
}
.wantedDLetter {
}

/* TO word */

.toTLetter {
}
.toOLetter {
}

/* IMPROVE word */

.improveILetter {
}
.improveMLetter {
}
.improvePLetter {
}
.improveRLetter {
}
.improveOLetter {
}
.improveVLetter {
}
.improveELetter {
}

/* THEIR word */

.theirTLetter {
}
.theirHLetter {
}
.theirELetter {
}
.theirILetter {
}
.theirRLetter {
}

/* ROOT word */

.rootRLetter {
}
.rootOLetter {
}
.rootOTwoLetter {
}
.rootTLetter {
}

/* SKILLS word */

.skillsSLetter {
}
.skillsKLetter {
}
.skillsILetter {
}
.skillsLLetter {
}
.skillsLTwoLetter {
}
.skillsSTwoLetter {
}

/* SYMBOLS */

.hyphen {
}
.exclamation-mark {
}
.question-mark {
}
